---
import Layout from "../layouts/Layout.astro";
import BotonHablarIA from "../components/BotonHablarIA.astro";
import Resultado from "../components/resultado.astro";
---

<Layout title="Significados sueño">
  <div class="Contenido">
    <div id="BotonHablarIA">
      <p id="InfoIA">
        Clica para descubrir el significado del sueño que tuviste hoy
      </p>
      <BotonHablarIA />
    </div>
    <div id="Resultado">
      <Resultado />
    </div>
  </div>
</Layout>

<style>
  @keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200px);
    }
  }
  #BotonHablarIA {
    display: grid;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .Contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  const BotonHablarIA = document.getElementById("BotonHablarIA");
  const Resultado = document.getElementById("Resultado");
  const InfoIA = document.getElementById("InfoIA");
  var MostrarResultado = false;

  BotonHablarIA.addEventListener("click", () => {
    Resultado.style.display = "block"
	InfoIA.style.display = "none"
  });

  if (MostrarResultado === false) {
    Resultado.style.display = "none";
  }
</script>
