---
import Layout from "../layouts/Layout.astro";
import BotonHablarIA from "../components/BotonHablarIA.astro";
import EscribirPrompt from "../components/EscribirPrompt.astro";
---

<Layout title="Significados sueño">
  <div class="Contenido">
    <BotonHablarIA />
    <EscribirPrompt />

  </div>
</Layout>

<style>
  @keyframes move {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200px);
    }
  }
  #BotonHablarIA {
    display: grid;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .Contenido {
    display: block;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<script src="../script/script.js"></script>